body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.login-vol-login-page {
  display: flex;
  height: 100vh;
}

.login-vol-background-image {
  flex: 60%;
  background-image: url("https://demos.themeselection.com/sneat-mui-react-nextjs-admin-template/demo-1/images/pages/boy-with-rocket-light.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-vol-logo {
  font-size: 10px;
}
.logo-and-text {
  display: flex;
  align-items: center;
}

.login-vol-logo {
  width: 60px;
  height: auto;
  margin-left: -10px;
  margin-right: 5px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-top: -20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container .floating-label-group {
  margin-bottom: 20px; /* Add margin between inputs */
}

.form-control23 {
  width: 100%; /* Adjusted width for responsiveness */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: white;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control23:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-vol-login-container {
  flex: 40%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.beaut-text {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 200px;
}
.login-vol-login-container h3 {
  font-size: 1.25rem;
}

.login-vol-form-group {
  margin-bottom: 20px;
  text-align: left;
}

.login-vol-form-group label {
  font-weight: bold;
}

.login-vol-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-vol-btn {
  width: 100%;
  padding: 10px;
  background-color: #f5dd61;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
}
.login-vol-btn:hover {
  background-color: #bca949;
}
.small-text-login {
  font-weight: 100;
}

.beaut-text p {
  color: #000000;
}
.beaut-text h3 {
  font-weight: 600;
  color: #000000;
  margin-bottom: 7px;
}
.abov-text {
  color: #000000;
  margin-bottom: 25px;
}
.link-sign-up {
  cursor: pointer;
  text-decoration: underline;
}
.floating-label-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
}
.floating-label {
  font-size: 13px;
  color: #000000;
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 12px;
  transition: all 0.1s ease;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: -25px;
  bottom: 0px;
  left: 0px;
  font-size: 16px;
  opacity: 1;
  color: #000000;
}
.row {
  margin-top: 50px;
}
@media screen and (max-width: 950px) {
  .login-vol-login-page {
    flex-direction: column;
  }

  .login-vol-background-image {
    display: none;
  }

  .login-vol-login-container {
    flex: 100%;
    margin-top: 20px;
  }
}
