/* Checkout.css */
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.steps {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.step {
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
}

.step-primary {
  font-weight: bold;
}

.step-content {
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}
